<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:\Users\Huawei\Desktop\L3DSI2\Projet d'integration PI\PI2\StudentEvents\src\app\home\home.component.css">
</head>
<body>

  <div class="event-container">
    <div class="event">
      <!-- Contenu de votre événement -->
      <h2>Nom de l'événement 1</h2>
      <p>Description de l'événement 1</p>
      <!-- Ajoutez d'autres éléments au besoin -->
    </div>

    <div class="event">
      <!-- Contenu de votre événement -->
      <h2>Nom de l'événement 2</h2>
      <p>Description de l'événement 2</p>
      <!-- Ajoutez d'autres éléments au besoin -->
    </div>

    <!-- Ajoutez plus de divs .event pour chaque événement -->

  </div>

</body>
</html>
